{
  "openapi": "3.1.0",
  "info": {
    "title": "Recommendations API Reference",
    "description": "Recommendations API are based on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer). This describes the\nresources that make up the official Adobe Target Recommendations API. The resources are designated by nouns or objects in the\nworld of Recommendations like a feed or a design. The functionalities or operations on resources are designated by HTTP\nmethods in each resource request.\n\n# Getting Started\nA Recommendations API request looks like this:\n```\ncurl -X POST \\\nhttps://mc.adobe.io/{{tenantId}}/target/recs/collections \\\n-H 'Accept: application/vnd.adobe.target.v1+json' \\\n-H 'Authorization: Bearer {{bearerToken}}' \\\n-H 'Content-Type: application/vnd.adobe.target.v1+json' \\\n-H 'X-Api-Key: {{xApiKey}}' \\\n-d '{\n  \"name\": \"Backpacking Tents\",\n  \"rules\": [\n    {\n      \"id\": {\n        \"contains\": [\n          \"backpacking\"\n        ]\n      }\n    }\n  ]\n}'\n```\nThe `tenantId` is your Adobe Experience Cloud tenant ID. It is present as a subdomain of your Experience Cloud URL.\nFor example, if your Experience Cloud URL is _piedpiper.experiencecloud.adobe.com_ or _piedpiper.marketing.adobe.com_, the\ntenant ID is _piedpiper_.\n\n`bearerToken` and `xApiKey` are security token variables explained below in Authentication.\n\n## Limitations\n- These APIs do not allow you to interact with resources created in the Recommendations Classic.\n- Resources can not be deleted until they are no longer referenced by any other resources. For example, a criteria cannot be\n  deleted if its being used in a recommendation activity. It can only be deleted if its removed from from wherever it is used.\n- This documentation does not include following APIs:\n  - Entity Recommendation Download (legacy): To download CSV containing entity recommendations.\n  - Custom Algorithm Upload (legacy): To upload custom algorithm feed through POST request.\n  - Feeds\n\n  # Postman\n  All Recommendations API requests are available in a Postman collection. Click the \"Run in Postman\" button to download the\n  collection as a JSON file, then import it in Postman. Note this collection references a Postman environment, which is\n  available from the [Adobe I/O console integration page](https://console.adobe.io/integrations) for your specific\n  integration.\n\n  [![Run in Postman](https://run.pstmn.io/button.svg)](https://raw.githubusercontent.com/AdobeDocs/target-developers/main/src/Recommendations.postman_collection.json)\n",
    "termsOfService": "https://www.adobe.com/legal/terms.html",
    "contact": {
      "name": "Support",
      "email": "customercare@adobe.com"
    },
    "version": "latest",
    "x-logo": {
      "url": "http://developers.adobetarget.com/api/recommendations/adobe_target-logo.png",
      "altText": "Adobe Target"
    }
  },
  "servers": [
    {
      "url": "https://mc.adobe.io/{tenantId}/target/recs",
      "description": "Adobe I/O gateway",
      "variables": {
        "tenantId": {
          "default": "demo",
          "description": "Tenant ID"
        }
      }
    }
  ],
  "security": [
    {
      "BearerToken": []
    },
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "A collection is a set of items that are eligible for a recommendation. It is defined by a set of membership rules. If an\nitem satisfies these rules, it is a member of the collection.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/entities/collections.html"
      }
    },
    {
      "name": "Criteria",
      "description": "Criteria are rules that determine which items to recommend based on a predetermined set of visitor behaviors. Criteria are\ncategorized into different groups depending on the recommendation key and recommendation logic. These groups are: category,\nitem, recent, popularity, profile attribute, custom.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Cart Criteria",
      "description": "Cart Criteria are criteria based on visitor's activity on multiple items. The recommendation keys are supplied through\nmbox parameter `cartIds` in comma-separated values. Only the first 10 values are considered.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Category Criteria",
      "description": "Category Criteria are criteria based on item category. The recommendation\nkey is currently viewed item category or visitor favorite category.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Custom Criteria",
      "description": "Custom Criteria are criteria based on user-defined custom recommendations. You upload a CSV containing item keys and their\ncorresponding list of recommendations. These recommendations, after applying configuration rules and settings, if any, will\nbe delivered to your page. The item keys in your CSV should map to items or categories in the catalog. The recommendation\nkey of this criteria can be any item based, category based key or profile attribute key depending on the item keys in the\nCSV. The CSV upload is carried out through a feed as part of configuration to create a custom criteria. Note, an item key\nrefers to the key in the CSV feed whereas a recommendation key refers to how the item key will be treated, that is, it can\nbe treated as ID of currently viewed item or visitor's favorite category.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/recommendations-csv.html"
      }
    },
    {
      "name": "Item Criteria",
      "description": "Item Criteria are criteria based on visitor's activity on item. The recommendation key is currently viewed item, last viewed\nitem, most viewed item or last purchased item. Note that this does not include recently viewed item, check Recent Criteria\nAPIs for that.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Popularity Criteria",
      "description": "Popularity Criteria are criteria that generate popular items as recommendations. The recommendation key is top sellers, most\nviewed items or Analytics product report metric.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Profile Attribute Criteria",
      "description": "Profile Attribute Criteria are criteria where recommendation is determined by an item that is stored in visitor's profile using either `user.*` or `profile.*` attributes. The profile attribute contains the item ID on which the recommendations are based.",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Recent Criteria",
      "description": "Recent Criteria are criteria based on recently viewed items.",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Sequence Criteria",
      "description": "A Sequence Criteria is a combination of multiple criteria. Such sequence of up to five criteria can be used to exercise\ngreater control of recommendations. By using a criteria sequence, you can provide additional targeted recommendations,\ninstead of using more generic backup recommendations, when a criteria doesn't return enough results to fill your design.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/create-criteria-sequence.html"
      }
    },
    {
      "name": "User History Criteria",
      "description": "User History Criteria are criteria based on visitor's browsing, viewing or purchasing history. It is generally\nreferred to as \"Recommended for You\".\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Designs",
      "description": "A design is a script that is used to determine how your recommendations look. You can create customized designs to provide\nthe appearance you desire. The script can be HTML or non-HTML; non-HTML for non-web environments where click-tracking is not\npossible. Recommendation designs use Apache Velocity, so the script should make use of\n[Velocity Template Language](http://velocity.apache.org/engine/1.7/vtl-reference.html).\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/recommendations-design/design-overview.html"
      }
    },
    {
      "name": "Entities",
      "description": "Entities refer to the items you want to recommend. Entities can be anything such as products, content (such as articles,\nslide shows, images, movies, and TV shows), job listings, restaurants, and so forths\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/entities/products.html"
      }
    },
    {
      "name": "Promotions",
      "description": "Promotion is a special type of criteria that includes promoted items in your recommendation design. Item recommendation by\npromotions use available slots in the design and take precedence over criteria results and backup recommendations.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/recommendations-activity/adding-promotions.html"
      }
    },
    {
      "name": "Exclusions",
      "description": "An exclusion is a subset of entities that should not be recommended to visitors. It is defined by a membership rule.\nIf an item satisfies this rule, it is excluded from recommendations to visitors.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/entities/exclusions.html"
      }
    }
  ],
  "externalDocs": {
    "description": "Product documentation",
    "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/recommendations.html"
  },
  "paths": {
    "/collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List collections",
        "description": "Gets all available collections.",
        "operationId": "getCollections",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of collection resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionMin"
                      },
                      "description": "List of collection objects."
                    }
                  }
                },
                "examples": {
                  "CollectionsResponse": {
                    "$ref": "#/components/examples/CollectionsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Collections"
        ],
        "summary": "Create collection",
        "description": "Creates a new collection as specified by the rules provided and returns the newly created collection definition.",
        "operationId": "createCollection",
        "requestBody": {
          "$ref": "#/components/requestBodies/Collection"
        },
        "responses": {
          "201": {
            "description": "Collection resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                },
                "examples": {
                  "CollectionResponse": {
                    "$ref": "#/components/examples/CollectionResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get collection",
        "description": "Gets the collection with the given ID.",
        "operationId": "getCollection",
        "responses": {
          "200": {
            "description": "Successful request with collection resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                },
                "examples": {
                  "CollectionResponse": {
                    "$ref": "#/components/examples/CollectionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Collections"
        ],
        "summary": "Edit collection",
        "description": "Updates the collection with new name and/or new rules as specified and returns the updated collection definition.",
        "operationId": "updateCollection",
        "requestBody": {
          "$ref": "#/components/requestBodies/Collection"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated collection resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                },
                "examples": {
                  "CollectionResponse": {
                    "$ref": "#/components/examples/CollectionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Collections"
        ],
        "summary": "Delete collection",
        "description": "Deletes the collection referenced by the given ID.",
        "operationId": "deleteCollection",
        "responses": {
          "200": {
            "description": "Successful request with deleted collection resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                },
                "examples": {
                  "CollectionResponse": {
                    "$ref": "#/components/examples/CollectionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria": {
      "get": {
        "tags": [
          "Criteria"
        ],
        "summary": "List criteria",
        "description": "Gets all available criteria.",
        "operationId": "getAllCriteria",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Criteria"
                      },
                      "description": "List of criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaListResponse": {
                    "$ref": "#/components/examples/CriteriaListResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/{id}": {
      "get": {
        "tags": [
          "Criteria"
        ],
        "summary": "Get criteria",
        "description": "Gets minimal criteria information with the given ID. For detailed information, make API call to criteria group path, for example, `/criteria/item/{id}`.",
        "operationId": "getCriteria",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaMin"
                },
                "examples": {
                  "CriteriaMinResponse": {
                    "$ref": "#/components/examples/CriteriaMinResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/cart": {
      "get": {
        "tags": [
          "Cart Criteria"
        ],
        "summary": "List cart criteria",
        "description": "Gets all available cart based criteria.",
        "operationId": "getAllCriteriaCart",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of cart criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaCart"
                      },
                      "description": "List of cart criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaCartListResponse": {
                    "$ref": "#/components/examples/CriteriaCartListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cart Criteria"
        ],
        "summary": "Create cart criteria",
        "description": "Creates a new cart based criteria as specified by the settings and configuration provided and returns the newly created cart definition.",
        "operationId": "createCriteriaCart",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaCart"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCart"
                },
                "examples": {
                  "CriteriaCartResponse": {
                    "$ref": "#/components/examples/CriteriaCartResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/cart/{id}": {
      "get": {
        "tags": [
          "Cart Criteria"
        ],
        "summary": "Get cart criteria",
        "description": "Gets the cart based criteria with the given ID.",
        "operationId": "getCriteriaCart",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCart"
                },
                "examples": {
                  "CriteriaCartResponse": {
                    "$ref": "#/components/examples/CriteriaCartResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Cart Criteria"
        ],
        "summary": "Edit cart criteria",
        "description": "Updates the cart based criteria with new settings and configuration as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaCart",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaCart"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCart"
                },
                "examples": {
                  "CriteriaCartResponse": {
                    "$ref": "#/components/examples/CriteriaCartResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart Criteria"
        ],
        "summary": "Delete cart criteria",
        "description": "Deletes the cart based criteria referenced by the given ID.",
        "operationId": "deleteCriteriaCart",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCart"
                },
                "examples": {
                  "CriteriaCategoryResponse": {
                    "$ref": "#/components/examples/CriteriaCartResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/category": {
      "get": {
        "tags": [
          "Category Criteria"
        ],
        "summary": "List category criteria",
        "description": "Gets all available category based criteria.",
        "operationId": "getAllCriteriaCategory",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of category criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaCategory"
                      },
                      "description": "List of category criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaCategoryListResponse": {
                    "$ref": "#/components/examples/CriteriaCategoryListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Category Criteria"
        ],
        "summary": "Create category criteria",
        "description": "Creates a new category based criteria as specified by the settings and configuration provided and returns the newly created criteria definition.",
        "operationId": "createCriteriaCategory",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaCategory"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCategory"
                },
                "examples": {
                  "CriteriaCategoryResponse": {
                    "$ref": "#/components/examples/CriteriaCategoryResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/category/{id}": {
      "get": {
        "tags": [
          "Category Criteria"
        ],
        "summary": "Get category criteria",
        "description": "Gets the category based criteria with the given ID.",
        "operationId": "getCriteriaCategory",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCategory"
                },
                "examples": {
                  "CriteriaCategoryResponse": {
                    "$ref": "#/components/examples/CriteriaCategoryResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Category Criteria"
        ],
        "summary": "Edit category criteria",
        "description": "Updates the category based criteria with new settings and configuration as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaCategory",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaCategory"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCategory"
                },
                "examples": {
                  "CriteriaCategoryResponse": {
                    "$ref": "#/components/examples/CriteriaCategoryResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Category Criteria"
        ],
        "summary": "Delete category criteria",
        "description": "Deletes the category based criteria referenced by the given ID.",
        "operationId": "deleteCriteriaCategory",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCategory"
                },
                "examples": {
                  "CriteriaCategoryResponse": {
                    "$ref": "#/components/examples/CriteriaCategoryResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/custom": {
      "get": {
        "tags": [
          "Custom Criteria"
        ],
        "summary": "List custom criteria",
        "description": "Gets all available custom criteria.",
        "operationId": "getAllCriteriaCustom",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of custom criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaCustom"
                      },
                      "description": "List of custom criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaCustomListResponse": {
                    "$ref": "#/components/examples/CriteriaCustomListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Criteria"
        ],
        "summary": "Create custom criteria",
        "description": "Creates a new custom criteria as specified by the settings, configuration, and feed provided and returns the newly created criteria definition.",
        "operationId": "createCriteriaCustom",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaCustom"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCustom"
                },
                "examples": {
                  "CriteriaCustomResponse": {
                    "$ref": "#/components/examples/CriteriaCustomResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/custom/{id}": {
      "get": {
        "tags": [
          "Custom Criteria"
        ],
        "summary": "Get custom criteria",
        "description": "Gets the custom criteria with the given ID.",
        "operationId": "getCriteriaCustom",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCustom"
                },
                "examples": {
                  "CriteriaCustomResponse": {
                    "$ref": "#/components/examples/CriteriaCustomResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Criteria"
        ],
        "summary": "Edit custom criteria",
        "description": "Updates the custom criteria with new settings, configuration and feed as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaCustom",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaCustom"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCustom"
                },
                "examples": {
                  "CriteriaCustomResponse": {
                    "$ref": "#/components/examples/CriteriaCustomResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Criteria"
        ],
        "summary": "Delete custom criteria",
        "description": "Deletes the custom criteria referenced by the given ID.",
        "operationId": "deleteCriteriaCustom",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaCustom"
                },
                "examples": {
                  "CriteriaCustomResponse": {
                    "$ref": "#/components/examples/CriteriaCustomResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/item": {
      "get": {
        "tags": [
          "Item Criteria"
        ],
        "summary": "List item criteria",
        "description": "Gets all available item based criteria.",
        "operationId": "getAllCriteriaItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of item criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaItem"
                      },
                      "description": "List of item criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaItemListResponse": {
                    "$ref": "#/components/examples/CriteriaItemListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Item Criteria"
        ],
        "summary": "Create item criteria",
        "description": "Creates a new item based criteria as specified by the settings and configuration provided and returns the newly created criteria definition.",
        "operationId": "createCriteriaItem",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaItem"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaItem"
                },
                "examples": {
                  "CriteriaItemResponse": {
                    "$ref": "#/components/examples/CriteriaItemResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/item/{id}": {
      "get": {
        "tags": [
          "Item Criteria"
        ],
        "summary": "Get item criteria",
        "description": "Gets the item based criteria with the given ID.",
        "operationId": "getCriteriaItem",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaItem"
                },
                "examples": {
                  "CriteriaItemResponse": {
                    "$ref": "#/components/examples/CriteriaItemResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Item Criteria"
        ],
        "summary": "Edit item criteria",
        "description": "Updates the item based criteria with new settings and configuration as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaItem",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaItem"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaItem"
                },
                "examples": {
                  "CriteriaItemResponse": {
                    "$ref": "#/components/examples/CriteriaItemResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Item Criteria"
        ],
        "summary": "Delete item criteria",
        "description": "Deletes the item based criteria referenced by the given ID.",
        "operationId": "deleteCriteriaItem",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaItem"
                },
                "examples": {
                  "CriteriaItemResponse": {
                    "$ref": "#/components/examples/CriteriaItemResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/popularity": {
      "get": {
        "tags": [
          "Popularity Criteria"
        ],
        "summary": "List popularity criteria",
        "description": "Gets all available popularity based criteria.",
        "operationId": "getAllCriteriaPopularity",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of popularity criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaPopularity"
                      },
                      "description": "List of popularity criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaPopularityListResponse": {
                    "$ref": "#/components/examples/CriteriaPopularityListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Popularity Criteria"
        ],
        "summary": "Create popularity criteria",
        "description": "Creates a new popularity based criteria as specified by the settings and configuration provided and returns the newly created criteria definition.",
        "operationId": "createCriteriaPopularity",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaPopularity"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaPopularity"
                },
                "examples": {
                  "CriteriaPopularityResponse": {
                    "$ref": "#/components/examples/CriteriaPopularityResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/popularity/{id}": {
      "get": {
        "tags": [
          "Popularity Criteria"
        ],
        "summary": "Get popularity criteria",
        "description": "Gets the popularity based criteria with the given ID.",
        "operationId": "getCriteriaPopularity",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaPopularity"
                },
                "examples": {
                  "CriteriaPopularityResponse": {
                    "$ref": "#/components/examples/CriteriaPopularityResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Popularity Criteria"
        ],
        "summary": "Edit popularity criteria",
        "description": "Updates the popularity based criteria with new settings and configuration as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaPopularity",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaPopularity"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaPopularity"
                },
                "examples": {
                  "CriteriaPopularityResponse": {
                    "$ref": "#/components/examples/CriteriaPopularityResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Popularity Criteria"
        ],
        "summary": "Delete popularity criteria",
        "description": "Deletes the popularity based criteria referenced by the given ID.",
        "operationId": "deleteCriteriaPopularity",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaPopularity"
                },
                "examples": {
                  "CriteriaPopularityResponse": {
                    "$ref": "#/components/examples/CriteriaPopularityResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/profileattribute": {
      "get": {
        "tags": [
          "Profile Attribute Criteria"
        ],
        "summary": "List profile attribute criteria",
        "description": "Gets all available profile attribute based criteria.",
        "operationId": "getAllCriteriaProfileAttribute",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of profile attribute criteria resources in response.",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaProfileAttribute"
                      },
                      "description": "List of profile attribute criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaProfileAttributeListResponse": {
                    "$ref": "#/components/examples/CriteriaProfileAttributeListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Profile Attribute Criteria"
        ],
        "summary": "Create profile attribute criteria",
        "description": "Creates a new profile attribute based criteria as specified by the settings and configuration provided and returns the newly created criteria definition.",
        "operationId": "createCriteriaProfileAttribute",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaProfileAttribute"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaProfileAttribute"
                },
                "examples": {
                  "CriteriaProfileAttributeResponse": {
                    "$ref": "#/components/examples/CriteriaProfileAttributeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/profileattribute/{id}": {
      "get": {
        "tags": [
          "Profile Attribute Criteria"
        ],
        "summary": "Get profile attribute criteria",
        "description": "Gets the profile attribute based criteria with the given ID.",
        "operationId": "getCriteriaProfileAttribute",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaProfileAttribute"
                },
                "examples": {
                  "CriteriaProfileAttributeResponse": {
                    "$ref": "#/components/examples/CriteriaProfileAttributeResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Profile Attribute Criteria"
        ],
        "summary": "Edit profile attribute criteria",
        "description": "Updates the profile attribute based criteria with new settings and configuration as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaProfileAttribute",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaProfileAttribute"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaProfileAttribute"
                },
                "examples": {
                  "CriteriaProfileAttributeResponse": {
                    "$ref": "#/components/examples/CriteriaProfileAttributeResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Profile Attribute Criteria"
        ],
        "summary": "Delete profile attribute criteria",
        "description": "Deletes the profile attribute based criteria referenced by the given ID.",
        "operationId": "deleteCriteriaProfileAttribute",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaProfileAttribute"
                },
                "examples": {
                  "CriteriaProfileAttributeResponse": {
                    "$ref": "#/components/examples/CriteriaProfileAttributeResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/recent": {
      "get": {
        "tags": [
          "Recent Criteria"
        ],
        "summary": "List recent criteria",
        "description": "Gets all available recent view based criteria.",
        "operationId": "getAllCriteriaRecent",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of recent criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaRecent"
                      },
                      "description": "List of recent criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaRecentListResponse": {
                    "$ref": "#/components/examples/CriteriaRecentListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Recent Criteria"
        ],
        "summary": "Create recent criteria",
        "description": "Creates a new recent view based criteria as specified by the settings and configuration provided and returns the newly created criteria definition.",
        "operationId": "createCriteriaRecent",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaRecent"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaRecent"
                },
                "examples": {
                  "CriteriaRecentResponse": {
                    "$ref": "#/components/examples/CriteriaRecentResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/recent/{id}": {
      "get": {
        "tags": [
          "Recent Criteria"
        ],
        "summary": "Get recent criteria",
        "description": "Gets the recent criteria with the given ID.",
        "operationId": "getCriteriaRecent",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaRecent"
                },
                "examples": {
                  "CriteriaRecentResponse": {
                    "$ref": "#/components/examples/CriteriaRecentResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Recent Criteria"
        ],
        "summary": "Edit recent criteria",
        "description": "Updates the recent criteria with new settings and configuration as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaRecent",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaRecent"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaRecent"
                },
                "examples": {
                  "CriteriaRecentResponse": {
                    "$ref": "#/components/examples/CriteriaRecentResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Recent Criteria"
        ],
        "summary": "Delete recent criteria",
        "description": "Deletes the recent view based criteria referenced by the given ID.",
        "operationId": "deleteCriteriaRecent",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaRecent"
                },
                "examples": {
                  "CriteriaRecentResponse": {
                    "$ref": "#/components/examples/CriteriaRecentResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/sequence": {
      "get": {
        "tags": [
          "Sequence Criteria"
        ],
        "summary": "List sequence criteria",
        "description": "Gets all available sequence criteria.",
        "operationId": "getAllCriteriaSequence",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of sequence criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaSequence"
                      },
                      "description": "List of sequence criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaSequenceListResponse": {
                    "$ref": "#/components/examples/CriteriaSequenceListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sequence Criteria"
        ],
        "summary": "Create sequence criteria",
        "description": "Creates a new sequence criteria as specified by the settings, and single criteria IDs provided and returns the newly created criteria definition.",
        "operationId": "createCriteriaSequence",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaSequence"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaSequence"
                },
                "examples": {
                  "CriteriaSequenceResponse": {
                    "$ref": "#/components/examples/CriteriaSequenceResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/sequence/{id}": {
      "get": {
        "tags": [
          "Sequence Criteria"
        ],
        "summary": "Get sequence criteria",
        "description": "Gets the sequence criteria with the given ID.",
        "operationId": "getCriteriaSequence",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaSequence"
                },
                "examples": {
                  "CriteriaSequenceResponse": {
                    "$ref": "#/components/examples/CriteriaSequenceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sequence Criteria"
        ],
        "summary": "Edit sequence criteria",
        "description": "Updates the sequence criteria with new settings and new single criteria IDs as specified and returns the updated criteria definition.",
        "operationId": "updateCriteriaSequence",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaSequence"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaSequence"
                },
                "examples": {
                  "CriteriaSequenceResponse": {
                    "$ref": "#/components/examples/CriteriaSequenceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sequence Criteria"
        ],
        "summary": "Delete sequence criteria",
        "description": "Deletes the sequence criteria referenced by the given ID.",
        "operationId": "deleteCriteriaSequence",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaSequence"
                },
                "examples": {
                  "CriteriaSequenceResponse": {
                    "$ref": "#/components/examples/CriteriaSequenceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/criteria/userhistory": {
      "get": {
        "tags": [
          "User History Criteria"
        ],
        "summary": "List user history criteria",
        "description": "Gets all available user history based criteria.",
        "operationId": "getAllCriteriaUserHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of user history criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CriteriaUserHistory"
                      },
                      "description": "List of user history criteria objects."
                    }
                  }
                },
                "examples": {
                  "CriteriaUserHistoryListResponse": {
                    "$ref": "#/components/examples/CriteriaUserHistoryListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User History Criteria"
        ],
        "summary": "Create user history criteria",
        "description": "Creates a new user history based criteria as specified in the request payload and returns the newly created user history definition.",
        "operationId": "createCriteriaUserHistory",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaUserHistory"
        },
        "responses": {
          "201": {
            "description": "Criteria resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaUserHistory"
                },
                "examples": {
                  "CriteriaUserHistoryResponse": {
                    "$ref": "#/components/examples/CriteriaUserHistoryResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/criteria/userhistory/{id}": {
      "get": {
        "tags": [
          "User History Criteria"
        ],
        "summary": "Get user history criteria",
        "description": "Gets the user history based criteria with the given ID.",
        "operationId": "getCriteriaUserHistory",
        "responses": {
          "200": {
            "description": "Successful request with criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaUserHistory"
                },
                "examples": {
                  "CriteriaUserHistoryResponse": {
                    "$ref": "#/components/examples/CriteriaUserHistoryResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User History Criteria"
        ],
        "summary": "Edit user history criteria",
        "description": "Updates the user history based criteria with new data as specified in request payload and returns the updated criteria definition.",
        "operationId": "updateCriteriaUserHistory",
        "requestBody": {
          "$ref": "#/components/requestBodies/CriteriaUserHistory"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaUserHistory"
                },
                "examples": {
                  "CriteriaUserHistoryResponse": {
                    "$ref": "#/components/examples/CriteriaUserHistoryResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User History Criteria"
        ],
        "summary": "Delete user history criteria",
        "description": "Deletes the user history based criteria referenced by the given ID.",
        "operationId": "deleteCriteriaUserHistory",
        "responses": {
          "200": {
            "description": "Successful request with deleted criteria resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CriteriaUserHistory"
                },
                "examples": {
                  "CriteriaCategoryResponse": {
                    "$ref": "#/components/examples/CriteriaUserHistoryResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/designs": {
      "get": {
        "tags": [
          "Designs"
        ],
        "summary": "List designs",
        "description": "Gets all available designs.",
        "operationId": "getDesigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/includeScript"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of design resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Design"
                      },
                      "description": "List of design objects."
                    }
                  }
                },
                "examples": {
                  "DesignsResponse": {
                    "$ref": "#/components/examples/DesignsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Designs"
        ],
        "summary": "Create a design",
        "description": "Creates a new design as specified by the script provided and returns the newly created design definition.",
        "operationId": "createDesign",
        "requestBody": {
          "$ref": "#/components/requestBodies/Design"
        },
        "responses": {
          "201": {
            "description": "Design resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                },
                "examples": {
                  "DesignResponse": {
                    "$ref": "#/components/examples/DesignResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/designs/{id}": {
      "get": {
        "tags": [
          "Designs"
        ],
        "summary": "Get design",
        "description": "Gets the design with the given ID.",
        "operationId": "getDesign",
        "parameters": [
          {
            "$ref": "#/components/parameters/includeScript"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with design resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                },
                "examples": {
                  "DesignResponse": {
                    "$ref": "#/components/examples/DesignResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Designs"
        ],
        "summary": "Edit design",
        "description": "Updates the design with new name and/or new script as specified and returns the updated design definition.",
        "operationId": "updateDesign",
        "requestBody": {
          "$ref": "#/components/requestBodies/Design"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/includeScript"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with updated design resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                },
                "examples": {
                  "DesignResponse": {
                    "$ref": "#/components/examples/DesignResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Designs"
        ],
        "summary": "Delete design",
        "description": "Deletes the design referenced by the given ID.",
        "operationId": "deleteDesign",
        "responses": {
          "200": {
            "description": "Successful request with deleted design resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                },
                "examples": {
                  "DesignResponse": {
                    "$ref": "#/components/examples/DesignResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/designs/validate": {
      "post": {
        "tags": [
          "Designs"
        ],
        "summary": "Validate design",
        "description": "Validates a design by verifying the correctness of the script. If its correct, it returns number of entity objects used\nin the script; otherwise it returns the validation error.\n\n_Note this POST request does not create any resource. The endpoint is not a resource but rather it is simply a method to\nvalidate the design in request payload._.\n",
        "operationId": "validateDesign",
        "requestBody": {
          "$ref": "#/components/requestBodies/Design"
        },
        "responses": {
          "200": {
            "description": "Design resource validated with validation result in response",
            "content": {
              "application/vnd.adobe.target.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignValidationResult"
                },
                "examples": {
                  "DesignValidationResultResponse": {
                    "$ref": "#/components/examples/DesignValidationResultResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities": {
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Save entities",
        "description": "Creates entities, updates if present, with the given entity details and returns the numbers of entities rejected, and\ncreated or updated. Entities can be rejected if entity details do not conform to the schema.\n[More info](https://docs.adobe.com/content/help/en/target/using/recommendations/entities/entity-attributes.html).\n\n_Note this POST request does not create a singular resource. The endpoint is not a resource but rather it is simply a\nmethod to save multiple entities specified in request payload._\n",
        "operationId": "saveEntities",
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityBatch"
        },
        "responses": {
          "200": {
            "description": "Successful request with entity batch update result in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/EntityBatchUpdateResult"
                },
                "examples": {
                  "EntityBatchUpdateResult": {
                    "$ref": "#/components/examples/EntityBatchUpdateResult"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities"
        ],
        "summary": "Delete entities",
        "description": "Deletes entities referenced by the given IDs. **If no ID is given, all entities in the given environment are deleted.\nIf no environment ID is given, entities will be deleted from all environments. Use this with caution!**\n\n_Note this DELETE request does not delete a singular resource. The endpoint is not a resource but rather it is simply a\nmethod to delete multiple entities specified in request payload._\n",
        "operationId": "deleteEntities",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 1000
              }
            },
            "description": "List of entity IDs. If not set, all entities will be deleted."
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "ID of an environment. If not set, entities will be deleted from all environments."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with entity batch delete result in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/EntityBatchDeleteResult"
                },
                "examples": {
                  "EntityResponse": {
                    "$ref": "#/components/examples/EntityBatchDeleteResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/{id}": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "Get entity",
        "description": "Gets entity with the given ID from default environment. To retrieve entity from a specific environment, `environmentId` request parameter can be used.",
        "operationId": "getEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with entity resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                },
                "examples": {
                  "EntityResponse": {
                    "$ref": "#/components/examples/EntityResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/entityId"
        }
      ]
    },
    "/catalogsearch": {
      "post": {
        "tags": [
          "Searching Entities"
        ],
        "summary": "Search Catalog Entities",
        "description": "Searches across all the entities in a given client and environment based on provided match criteria.\n\n_Note this POST request does not create any resource. The endpoint is not a resource but rather it is simply a\nmethod for searching._\n",
        "operationId": "search",
        "requestBody": {
          "$ref": "#/components/requestBodies/Search"
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                },
                "examples": {
                  "SearchResponse": {
                    "$ref": "#/components/examples/SearchResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/promotions": {
      "get": {
        "tags": [
          "Promotions"
        ],
        "summary": "List promotions",
        "description": "List all available promotions.",
        "operationId": "getPromotions",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of promotion resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Promotion"
                      },
                      "description": "List of promotion objects."
                    }
                  }
                },
                "examples": {
                  "PromotionsResponse": {
                    "$ref": "#/components/examples/PromotionsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Promotions"
        ],
        "summary": "Create promotion",
        "description": "Creates a new promotion as specified by the settings and configuration provided and returns the newly created promotion definition.",
        "operationId": "createPromotion",
        "requestBody": {
          "$ref": "#/components/requestBodies/Promotion"
        },
        "responses": {
          "201": {
            "description": "Promotion resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Promotion"
                },
                "examples": {
                  "PromotionResponse": {
                    "$ref": "#/components/examples/PromotionResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/promotions/{id}": {
      "get": {
        "tags": [
          "Promotions"
        ],
        "summary": "Get promotion",
        "description": "Gets the promotion with the given ID.",
        "operationId": "getPromotion",
        "responses": {
          "200": {
            "description": "Successful request with promotion resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Promotion"
                },
                "examples": {
                  "PromotionResponse": {
                    "$ref": "#/components/examples/PromotionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Promotions"
        ],
        "summary": "Edit promotion",
        "description": "Updates the promotion with the new settings and configuration as specified and return the updated promotion definition.",
        "operationId": "updatePromotion",
        "requestBody": {
          "$ref": "#/components/requestBodies/Promotion"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated promotion resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Promotion"
                },
                "examples": {
                  "PromotionResponse": {
                    "$ref": "#/components/examples/PromotionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Promotions"
        ],
        "summary": "Delete promotion",
        "description": "Deletes the promotion referenced by the given ID.",
        "operationId": "deletePromotion",
        "responses": {
          "200": {
            "description": "Successful request with deleted promotion resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Promotion"
                },
                "examples": {
                  "PromotionResponse": {
                    "$ref": "#/components/examples/PromotionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/exclusions": {
      "get": {
        "tags": [
          "Exclusions"
        ],
        "summary": "List exclusions",
        "description": "Gets all available exclusions.",
        "operationId": "getExclusions",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of exclusion resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "$ref": "#/components/schemas/offset"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/limit"
                    },
                    "total": {
                      "$ref": "#/components/schemas/total"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Exclusion"
                      },
                      "description": "List of exclusion objects."
                    }
                  }
                },
                "examples": {
                  "ExclusionsResponse": {
                    "$ref": "#/components/examples/ExclusionsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Exclusions"
        ],
        "summary": "Create exclusion",
        "description": "Creates a new exclusion as specified by the rule provided and returns the newly created exclusion definition.",
        "operationId": "createExclusion",
        "requestBody": {
          "$ref": "#/components/requestBodies/Exclusion"
        },
        "responses": {
          "201": {
            "description": "Exclusion resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Exclusion"
                },
                "examples": {
                  "ExclusionResponse": {
                    "$ref": "#/components/examples/ExclusionResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exclusions/{id}": {
      "get": {
        "tags": [
          "Exclusions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "summary": "Get exclusion",
        "description": "Gets the exclusion with the given ID.",
        "operationId": "getExclusion",
        "responses": {
          "200": {
            "description": "Successful request with exclusion resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Exclusion"
                },
                "examples": {
                  "ExclusionResponse": {
                    "$ref": "#/components/examples/ExclusionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Exclusions"
        ],
        "summary": "Edit exclusion",
        "description": "Updates the exclusion with new name, description and/or new rule as specified and returns the updated exclusion definition.",
        "operationId": "updateExclusion",
        "requestBody": {
          "$ref": "#/components/requestBodies/Exclusion"
        },
        "responses": {
          "200": {
            "description": "Successful request with updated exclusion resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Exclusion"
                },
                "examples": {
                  "ExclusionResponse": {
                    "$ref": "#/components/examples/ExclusionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Exclusions"
        ],
        "summary": "Delete exclusion",
        "description": "Deletes the exclusion referenced by the given ID.",
        "operationId": "deleteExclusion",
        "responses": {
          "200": {
            "description": "Successful request with deleted exclusion resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Exclusion"
                },
                "examples": {
                  "ExclusionResponse": {
                    "$ref": "#/components/examples/ExclusionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "keyArguments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "text": {
            "type": "string"
          }
        }
      },
      "FtpFeedConnectionType": {
        "type": "object",
        "properties": {
          "SERVER": {
            "type": "string"
          },
          "USERNAME": {
            "type": "string"
          },
          "PASSWORD": {
            "type": "string"
          },
          "FILENAME": {
            "type": "string"
          },
          "DIRECTORY": {
            "type": "string"
          }
        },
        "required": [
          "SERVER",
          "USERNAME",
          "PASSWORD",
          "FILENAME",
          "DIRECTORY"
        ],
        "description": "FTP connection details of the feed."
      },
      "AlgorithmRankingRule": {
        "type": "object",
        "properties": {
          "matcher": {
            "$ref": "#/components/schemas/Matcher"
          },
          "weighting": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 4
          }
        }
      },
      "BasicMatcher": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 250
            },
            "minItems": 1,
            "maxItems": 1000
          }
        }
      },
      "InclusionMatcher": {
        "type": "object",
        "properties": {
          "attribute": {
            "type": "string",
            "maxLength": 100
          },
          "highRange": {
            "type": "string"
          },
          "lowRange": {
            "type": "string"
          },
          "operation": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/SourceAttribute"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 250
            },
            "minItems": 1,
            "maxItems": 1000
          }
        },
        "required": [
          "attribute",
          "operation"
        ]
      },
      "Matcher": {
        "type": "object",
        "properties": {
          "attribute": {
            "type": "string",
            "maxLength": 100
          },
          "operation": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/SourceAttribute"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 250
            },
            "minItems": 1,
            "maxItems": 1000
          }
        },
        "required": [
          "attribute",
          "operation"
        ]
      },
      "SourceAttribute": {
        "type": "object",
        "properties": {
          "defaultValue": {
            "type": "string"
          },
          "excludeAllWhenEmpty": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "UrlFeedConnectionType": {
        "type": "object",
        "properties": {
          "URL": {
            "type": "string"
          }
        },
        "required": [
          "URL"
        ],
        "description": "HTTP location of the feed."
      },
      "limit": {
        "type": "integer",
        "format": "int32",
        "description": "Number of resources shown in the response."
      },
      "offset": {
        "type": "integer",
        "format": "int32",
        "description": "Number of resources skipped from start in the server list and omitted in response."
      },
      "total": {
        "type": "integer",
        "format": "int32",
        "description": "Number of resources returned in the response."
      },
      "CollectionMin": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "maxLength": 250,
            "description": "Unique name of the collection."
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "lastModifiersEmail": {
            "type": "string",
            "readOnly": true
          },
          "lastModifiersName": {
            "type": "string",
            "readOnly": true
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "description": "The time in UTC when the collection was last modified.",
            "readOnly": true
          }
        },
        "required": [
          "name"
        ]
      },
      "Collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionMin"
          },
          {
            "type": "object",
            "properties": {
              "rules": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BasicMatcher"
                },
                "minItems": 1,
                "maxItems": 1000,
                "description": "Array of rules containing attribute : operation pairs.\n\nThe attribute is any valid entity attribute. It is a required field and it should not be more than 100 characters.\n\nThe operation is a pair of operator and operand values. The operator can be one of:\n  - Numeric operators: `greaterOrEquals`, `lesserOrEquals`\n  - String operators: `startsWith`, `endsWith`, `contains`, `doesNotContain`\n  - Alphanumeric operators: `equals`, `notEquals`, `valueIsPresent`, `valueIsNotPresent`\n\nThe other part of operation, operand values, is an array of values. Each value cannot be more than 250 characters.\nThere must be atleast 1 value and no more than 1000 values. Operand values are not required when operator is\neither `valueIsPresent` or `valueIsNotPresent`. Numeric operators accept integer or floating point operand values.\n"
              }
            },
[...]
