{
  "openapi": "3.1.0",
  "info": {
    "title": "Recommendations API Reference",
    "description": "Recommendations API are based on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer). This describes the\nresources that make up the official Adobe Target Recommendations API. The resources are designated by nouns or objects in the\nworld of Recommendations like a feed or a design. The functionalities or operations on resources are designated by HTTP\nmethods in each resource request.\n\n# Getting Started\nA Recommendations API request looks like this:\n```\ncurl -X POST \\\nhttps://mc.adobe.io/{{tenantId}}/target/recs/collections \\\n-H 'Accept: application/vnd.adobe.target.v1+json' \\\n-H 'Authorization: Bearer {{bearerToken}}' \\\n-H 'Content-Type: application/vnd.adobe.target.v1+json' \\\n-H 'X-Api-Key: {{xApiKey}}' \\\n-d '{\n  \"name\": \"Backpacking Tents\",\n  \"rules\": [\n    {\n      \"id\": {\n        \"contains\": [\n          \"backpacking\"\n        ]\n      }\n    }\n  ]\n}'\n```\nThe `tenantId` is your Adobe Experience Cloud tenant ID. It is present as a subdomain of your Experience Cloud URL.\nFor example, if your Experience Cloud URL is _piedpiper.experiencecloud.adobe.com_ or _piedpiper.marketing.adobe.com_, the\ntenant ID is _piedpiper_.\n\n`bearerToken` and `xApiKey` are security token variables explained below in Authentication.\n\n## Limitations\n- These APIs do not allow you to interact with resources created in the Recommendations Classic.\n- Resources can not be deleted until they are no longer referenced by any other resources. For example, a criteria cannot be\n  deleted if its being used in a recommendation activity. It can only be deleted if its removed from from wherever it is used.\n- This documentation does not include following APIs:\n  - Entity Recommendation Download (legacy): To download CSV containing entity recommendations.\n  - Custom Algorithm Upload (legacy): To upload custom algorithm feed through POST request.\n  - Exclusions\n  - Feeds\n\n  # Postman\n  All Recommendations API requests are available in a Postman collection. Click the \"Run in Postman\" button to download the\n  collection as a JSON file, then import it in Postman. Note this collection references a Postman environment, which is\n  available from the [Adobe I/O console integration page](https://console.adobe.io/integrations) for your specific\n  integration.\n\n  [![Run in Postman](https://run.pstmn.io/button.svg)](https://raw.githubusercontent.com/AdobeDocs/target-developers/main/src/Recommendations.postman_collection.json)\n",
    "termsOfService": "https://www.adobe.com/legal/terms.html",
    "contact": {
      "name": "Support",
      "email": "customercare@adobe.com"
    },
    "version": "latest"
  },
  "servers": [
    {
      "url": "https://mc.adobe.io/{tenantId}/target/recs",
      "description": "Adobe I/O gateway",
      "variables": {
        "tenantId": {
          "default": "demo",
          "description": "Tenant ID"
        }
      }
    }
  ],
  "security": [
    {
      "BearerToken": []
    },
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "A collection is a set of items that are eligible for a recommendation. It is defined by a set of membership rules. If an\nitem satisfies these rules, it is a member of the collection.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/entities/collections.html"
      }
    },
    {
      "name": "Criteria",
      "description": "Criteria are rules that determine which items to recommend based on a predetermined set of visitor behaviors. Criteria are\ncategorized into different groups depending on the recommendation key and recommendation logic. These groups are: category,\nitem, recent, popularity, profile attribute, custom.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Cart Criteria",
      "description": "Cart Criteria are criteria based on visitor's activity on multiple items. The recommendation keys are supplied through\nmbox parameter `cartIds` in comma-separated values. Only the first 10 values are considered.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Category Criteria",
      "description": "Category Criteria are criteria based on item category. The recommendation\nkey is currently viewed item category or visitor favorite category.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Custom Criteria",
      "description": "Custom Criteria are criteria based on user-defined custom recommendations. You upload a CSV containing item keys and their\ncorresponding list of recommendations. These recommendations, after applying configuration rules and settings, if any, will\nbe delivered to your page. The item keys in your CSV should map to items or categories in the catalog. The recommendation\nkey of this criteria can be any item based, category based key or profile attribute key depending on the item keys in the\nCSV. The CSV upload is carried out through a feed as part of configuration to create a custom criteria. Note, an item key\nrefers to the key in the CSV feed whereas a recommendation key refers to how the item key will be treated, that is, it can\nbe treated as ID of currently viewed item or visitor's favorite category.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/recommendations-csv.html"
      }
    },
    {
      "name": "Item Criteria",
      "description": "Item Criteria are criteria based on visitor's activity on item. The recommendation key is currently viewed item, last viewed\nitem, most viewed item or last purchased item. Note that this does not include recently viewed item, check Recent Criteria\nAPIs for that.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Popularity Criteria",
      "description": "Popularity Criteria are criteria that generate popular items as recommendations. The recommendation key is top sellers, most\nviewed items or Analytics product report metric.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Profile Attribute Criteria",
      "description": "Profile Attribute Criteria are criteria where recommendation is determined by an item that is stored in visitor's profile using either `user.*` or `profile.*` attributes. The profile attribute contains the item ID on which the recommendations are based.",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Recent Criteria",
      "description": "Recent Criteria are criteria based on recently viewed items.",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Sequence Criteria",
      "description": "A Sequence Criteria is a combination of multiple criteria. Such sequence of up to five criteria can be used to exercise\ngreater control of recommendations. By using a criteria sequence, you can provide additional targeted recommendations,\ninstead of using more generic backup recommendations, when a criteria doesn't return enough results to fill your design.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/create-criteria-sequence.html"
      }
    },
    {
      "name": "User History Criteria",
      "description": "User History Criteria are criteria based on visitor's browsing, viewing or purchasing history. It is generally\nreferred to as \"Recommended for You\".\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/criteria/algorithms.html"
      }
    },
    {
      "name": "Designs",
      "description": "A design is a script that is used to determine how your recommendations look. You can create customized designs to provide\nthe appearance you desire. The script can be HTML or non-HTML; non-HTML for non-web environments where click-tracking is not\npossible. Recommendation designs use Apache Velocity, so the script should make use of\n[Velocity Template Language](http://velocity.apache.org/engine/1.7/vtl-reference.html).\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/recommendations-design/design-overview.html"
      }
    },
    {
      "name": "Entities",
      "description": "Entities refer to the items you want to recommend. Entities can be anything such as products, content (such as articles,\nslide shows, images, movies, and TV shows), job listings, restaurants, and so forths\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/entities/products.html"
      }
    },
    {
      "name": "Promotions",
      "description": "Promotion is a special type of criteria that includes promoted items in your recommendation design. Item recommendation by\npromotions use available slots in the design and take precedence over criteria results and backup recommendations.\n",
      "externalDocs": {
        "description": "More info.",
        "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/recommendations-activity/adding-promotions.html"
      }
    }
  ],
  "externalDocs": {
    "description": "Product documentation",
    "url": "https://experienceleague.adobe.com/docs/target/using/recommendations/recommendations.html"
  },
  "paths": {
    "/collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List collections",
        "description": "Gets all available collections.",
        "operationId": "getCollections",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of resources to skip from start in the server list. If not specified, the response list will start from first available resource.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of resources skipped from start in the server list and omitted in response."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of resources to request. If not specified, the response will include all available resources.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of resources shown in the response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of collection resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of resources skipped from start in the server list and omitted in response."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of resources shown in the response."
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of resources returned in the response."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "readOnly": true
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 250,
                            "description": "Unique name of the collection."
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "description": "List of collection objects."
                    }
                  }
                },
                "examples": {
                  "CollectionsResponse": {
                    "summary": "List of collections in response",
                    "description": "A response body example of a list containing 2 collections.",
                    "value": {
                      "offset": 0,
                      "limit": 2147483647,
                      "total": 2,
                      "list": [
                        {
                          "id": 1,
                          "name": "Men's Trail Running Shoes"
                        },
                        {
                          "id": 2,
                          "name": "Climbing Harnesses"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Collections"
        ],
        "summary": "Create collection",
        "description": "Creates a new collection as specified by the rules provided and returns the newly created collection definition.",
        "operationId": "createCollection",
        "requestBody": {
          "description": "Collection to be created/updated",
          "content": {
            "application/vnd.adobe.target.v1+json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "maxLength": 250,
                        "description": "Unique name of the collection."
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "rules": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 250
                              },
                              "minItems": 1,
                              "maxItems": 1000
                            }
                          }
                        },
                        "minItems": 1,
                        "maxItems": 1000,
                        "description": "Array of rules containing attribute : operation pairs.\n\nThe attribute is any valid entity attribute. It is a required field and it should not be more than 100 characters.\n\nThe operation is a pair of operator and operand values. The operator can be one of:\n  - Numeric operators: `greaterOrEquals`, `lesserOrEquals`\n  - String operators: `startsWith`, `endsWith`, `contains`, `doesNotContain`\n  - Alphanumeric operators: `equals`, `notEquals`, `valueIsPresent`, `valueIsNotPresent`\n\nThe other part of operation, operand values, is an array of values. Each value cannot be more than 250 characters.\nThere must be atleast 1 value and no more than 1000 values. Operand values are not required when operator is\neither `valueIsPresent` or `valueIsNotPresent`. Numeric operators accept integer or floating point operand values.\n"
                      }
                    },
                    "required": [
                      "rules"
                    ]
                  }
                ]
              },
              "examples": {
                "CollectionRequest": {
                  "summary": "Collection in request",
                  "description": "A request body example of a collection object to be created/updated.",
                  "value": {
                    "name": "Backpacking Tents",
                    "rules": [
                      {
                        "bestUse": {
                          "equals": [
                            "backpacking"
                          ]
                        }
                      },
                      {
                        "weight": {
                          "less than": [
                            "10"
                          ]
                        }
                      },
                      {
                        "capacity": {
                          "less than": [
                            "4"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Collection resource created with resource definition in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 250,
                          "description": "Unique name of the collection."
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "maxLength": 250
                                },
                                "minItems": 1,
                                "maxItems": 1000
                              }
                            }
                          },
                          "minItems": 1,
                          "maxItems": 1000,
                          "description": "Array of rules containing attribute : operation pairs.\n\nThe attribute is any valid entity attribute. It is a required field and it should not be more than 100 characters.\n\nThe operation is a pair of operator and operand values. The operator can be one of:\n  - Numeric operators: `greaterOrEquals`, `lesserOrEquals`\n  - String operators: `startsWith`, `endsWith`, `contains`, `doesNotContain`\n  - Alphanumeric operators: `equals`, `notEquals`, `valueIsPresent`, `valueIsNotPresent`\n\nThe other part of operation, operand values, is an array of values. Each value cannot be more than 250 characters.\nThere must be atleast 1 value and no more than 1000 values. Operand values are not required when operator is\neither `valueIsPresent` or `valueIsNotPresent`. Numeric operators accept integer or floating point operand values.\n"
                        }
                      },
                      "required": [
                        "rules"
                      ]
                    }
                  ]
                },
                "examples": {
                  "CollectionResponse": {
                    "summary": "Collection in response",
                    "description": "A response body example of a collection object.",
                    "value": {
                      "id": 1,
                      "name": "Backpacking Tents",
                      "rules": [
                        {
                          "bestUse": {
                            "equals": [
                              "backpacking"
                            ]
                          }
                        },
                        {
                          "weight": {
                            "less than": [
                              "10"
                            ]
                          }
                        },
                        {
                          "capacity": {
                            "less than": [
                              "4"
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get collection",
        "description": "Gets the collection with the given ID.",
        "operationId": "getCollection",
        "responses": {
          "200": {
            "description": "Successful request with collection resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 250,
                          "description": "Unique name of the collection."
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "maxLength": 250
                                },
                                "minItems": 1,
                                "maxItems": 1000
                              }
                            }
                          },
                          "minItems": 1,
                          "maxItems": 1000,
                          "description": "Array of rules containing attribute : operation pairs.\n\nThe attribute is any valid entity attribute. It is a required field and it should not be more than 100 characters.\n\nThe operation is a pair of operator and operand values. The operator can be one of:\n  - Numeric operators: `greaterOrEquals`, `lesserOrEquals`\n  - String operators: `startsWith`, `endsWith`, `contains`, `doesNotContain`\n  - Alphanumeric operators: `equals`, `notEquals`, `valueIsPresent`, `valueIsNotPresent`\n\nThe other part of operation, operand values, is an array of values. Each value cannot be more than 250 characters.\nThere must be atleast 1 value and no more than 1000 values. Operand values are not required when operator is\neither `valueIsPresent` or `valueIsNotPresent`. Numeric operators accept integer or floating point operand values.\n"
                        }
                      },
                      "required": [
                        "rules"
                      ]
                    }
                  ]
                },
                "examples": {
                  "CollectionResponse": {
                    "summary": "Collection in response",
                    "description": "A response body example of a collection object.",
                    "value": {
                      "id": 1,
                      "name": "Backpacking Tents",
                      "rules": [
                        {
                          "bestUse": {
                            "equals": [
                              "backpacking"
                            ]
                          }
                        },
                        {
                          "weight": {
                            "less than": [
                              "10"
                            ]
                          }
                        },
                        {
                          "capacity": {
                            "less than": [
                              "4"
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Collections"
        ],
        "summary": "Edit collection",
        "description": "Updates the collection with new name and/or new rules as specified and returns the updated collection definition.",
        "operationId": "updateCollection",
        "requestBody": {
          "description": "Collection to be created/updated",
          "content": {
            "application/vnd.adobe.target.v1+json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "maxLength": 250,
                        "description": "Unique name of the collection."
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "rules": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 250
                              },
                              "minItems": 1,
                              "maxItems": 1000
                            }
                          }
                        },
                        "minItems": 1,
                        "maxItems": 1000,
                        "description": "Array of rules containing attribute : operation pairs.\n\nThe attribute is any valid entity attribute. It is a required field and it should not be more than 100 characters.\n\nThe operation is a pair of operator and operand values. The operator can be one of:\n  - Numeric operators: `greaterOrEquals`, `lesserOrEquals`\n  - String operators: `startsWith`, `endsWith`, `contains`, `doesNotContain`\n  - Alphanumeric operators: `equals`, `notEquals`, `valueIsPresent`, `valueIsNotPresent`\n\nThe other part of operation, operand values, is an array of values. Each value cannot be more than 250 characters.\nThere must be atleast 1 value and no more than 1000 values. Operand values are not required when operator is\neither `valueIsPresent` or `valueIsNotPresent`. Numeric operators accept integer or floating point operand values.\n"
                      }
                    },
                    "required": [
                      "rules"
                    ]
                  }
                ]
              },
              "examples": {
                "CollectionRequest": {
                  "summary": "Collection in request",
                  "description": "A request body example of a collection object to be created/updated.",
                  "value": {
                    "name": "Backpacking Tents",
                    "rules": [
                      {
                        "bestUse": {
                          "equals": [
                            "backpacking"
                          ]
                        }
                      },
                      {
                        "weight": {
                          "less than": [
                            "10"
                          ]
                        }
                      },
                      {
                        "capacity": {
                          "less than": [
                            "4"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful request with updated collection resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 250,
                          "description": "Unique name of the collection."
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "maxLength": 250
                                },
                                "minItems": 1,
                                "maxItems": 1000
                              }
                            }
                          },
                          "minItems": 1,
                          "maxItems": 1000,
                          "description": "Array of rules containing attribute : operation pairs.\n\nThe attribute is any valid entity attribute. It is a required field and it should not be more than 100 characters.\n\nThe operation is a pair of operator and operand values. The operator can be one of:\n  - Numeric operators: `greaterOrEquals`, `lesserOrEquals`\n  - String operators: `startsWith`, `endsWith`, `contains`, `doesNotContain`\n  - Alphanumeric operators: `equals`, `notEquals`, `valueIsPresent`, `valueIsNotPresent`\n\nThe other part of operation, operand values, is an array of values. Each value cannot be more than 250 characters.\nThere must be atleast 1 value and no more than 1000 values. Operand values are not required when operator is\neither `valueIsPresent` or `valueIsNotPresent`. Numeric operators accept integer or floating point operand values.\n"
                        }
                      },
                      "required": [
                        "rules"
                      ]
                    }
                  ]
                },
                "examples": {
                  "CollectionResponse": {
                    "summary": "Collection in response",
                    "description": "A response body example of a collection object.",
                    "value": {
                      "id": 1,
                      "name": "Backpacking Tents",
                      "rules": [
                        {
                          "bestUse": {
                            "equals": [
                              "backpacking"
                            ]
                          }
                        },
                        {
                          "weight": {
                            "less than": [
                              "10"
                            ]
                          }
                        },
                        {
                          "capacity": {
                            "less than": [
                              "4"
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Collections"
        ],
        "summary": "Delete collection",
        "description": "Deletes the collection referenced by the given ID.",
        "operationId": "deleteCollection",
        "responses": {
          "200": {
            "description": "Successful request with deleted collection resource in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 250,
                          "description": "Unique name of the collection."
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "maxLength": 250
                                },
                                "minItems": 1,
                                "maxItems": 1000
                              }
                            }
                          },
                          "minItems": 1,
                          "maxItems": 1000,
                          "description": "Array of rules containing attribute : operation pairs.\n\nThe attribute is any valid entity attribute. It is a required field and it should not be more than 100 characters.\n\nThe operation is a pair of operator and operand values. The operator can be one of:\n  - Numeric operators: `greaterOrEquals`, `lesserOrEquals`\n  - String operators: `startsWith`, `endsWith`, `contains`, `doesNotContain`\n  - Alphanumeric operators: `equals`, `notEquals`, `valueIsPresent`, `valueIsNotPresent`\n\nThe other part of operation, operand values, is an array of values. Each value cannot be more than 250 characters.\nThere must be atleast 1 value and no more than 1000 values. Operand values are not required when operator is\neither `valueIsPresent` or `valueIsNotPresent`. Numeric operators accept integer or floating point operand values.\n"
                        }
                      },
                      "required": [
                        "rules"
                      ]
                    }
                  ]
                },
                "examples": {
                  "CollectionResponse": {
                    "summary": "Collection in response",
                    "description": "A response body example of a collection object.",
                    "value": {
                      "id": 1,
                      "name": "Backpacking Tents",
                      "rules": [
                        {
                          "bestUse": {
                            "equals": [
                              "backpacking"
                            ]
                          }
                        },
                        {
                          "weight": {
                            "less than": [
                              "10"
                            ]
                          }
                        },
                        {
                          "capacity": {
                            "less than": [
                              "4"
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int32"
          }
        }
      ]
    },
    "/criteria": {
      "get": {
        "tags": [
          "Criteria"
        ],
        "summary": "List criteria",
        "description": "Gets all available criteria.",
        "operationId": "getAllCriteria",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of resources to skip from start in the server list. If not specified, the response list will start from first available resource.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of resources skipped from start in the server list and omitted in response."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of resources to request. If not specified, the response will include all available resources.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of resources shown in the response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with list of criteria resources in response",
            "content": {
              "application/vnd.adobe.target.v1+json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of resources skipped from start in the server list and omitted in response."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of resources shown in the response."
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of resources returned in the response."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "oneOf": [
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "criteriaGroup": {
                                    "type": "string",
                                    "readOnly": true
                                  },
                                  "criteriaTitle": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Displayed in the design using variable `$criteria.title`."
                                  },
                                  "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "readOnly": true
                                  },
                                  "name": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Unique name of the criteria."
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "criteriaGroup": {
                                    "type": "string",
                                    "enum": [
                                      "CART"
                                    ],
                                    "readOnly": true
                                  },
                                  "backupDisabled": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether backup recommendations are disabled when criteria does not generate enough recommendations."
                                  },
                                  "backupInclusionFilteringEnabled": {
                                    "type": "boolean",
                                    "default": true,
                                    "description": "Whether inclusion rules on the criteria should be applied to backup recommendations."
                                  },
                                  "configuration": {
                                    "type": "object",
                                    "properties": {
                                      "inclusionRules": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "attribute": {
                                              "type": "string",
                                              "maxLength": 100
                                            },
                                            "highRange": {
                                              "type": "string"
                                            },
                                            "lowRange": {
                                              "type": "string"
                                            },
                                            "operation": {
                                              "type": "string"
                                            },
                                            "source": {
                                              "type": "object",
                                              "properties": {
                                                "defaultValue": {
                                                  "type": "string"
                                                },
                                                "excludeAllWhenEmpty": {
                                                  "type": "boolean"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "type": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "name",
                                                "type"
                                              ]
                                            },
                                            "values": {
                                              "type": "array",
                                              "items": {
                                                "type": "string",
                                                "maxLength": 250
                                              },
                                              "minItems": 1,
                                              "maxItems": 1000
                                            }
                                          },
                                          "required": [
                                            "attribute",
                                            "operation"
                                          ]
                                        },
                                        "maxItems": 1000,
                                        "description": "Filtering rules to narrow the items to be displayed as recommendations. Inclusion rules are conjunctive and all rules\nmust be met to include an item in a recommendation. [More info](https://marketing.adobe.com/resources/help/en_US/target/recs/t_create_new_algorithm.html).\n"
                                      },
                                      "inclusionRulesKey": {
                                        "type": "string",
                                        "enum": [
                                          "CURRENT",
                                          "LAST_VIEWED",
                                          "LAST_PURCHASED",
                                          "MOST_VIEWED",
                                          "^(profile\\.|user\\.).+"
                                        ],
                                        "description": "Used for dynamic inclusion rules. Depending on the value either entity attribute matching or profile attribute matching is configured.\n[More info](https://docs.adobe.com/content/help/en/target/using/recommendations/criteria/use-dynamic-and-static-inclusion-rules.html#dynamic-filtering)].\n"
                                      },
                                      "priceRange": {
                                        "type": "object",
                                        "properties": {
                                          "max": {
                                            "type": "number",
                                            "format": "double"
                                          },
                                          "min": {
                                            "type": "number",
                                            "format": "double"
                                          }
                                        },
                                        "description": "Price rule filter for items to be considered in recommendations."
                                      },
                                      "datasource": {
                                        "type": "string",
                                        "default": "mboxes",
                                        "description": "Behavioral data source can either be `mboxes` or a valid Analytics report report suite. A report suite can not be used when type is `SIMILARITY`.\n"
                                      }
                                    }
                                  },
                                  "daysCount": {
                                    "type": "string",
                                    "enum": [
                                      "ONE_DAY",
                                      "TWO_DAYS",
                                      "ONE_WEEK",
                                      "TWO_WEEKS",
                                      "ONE_MONTH",
                                      "TWO_MONTHS"
                                    ],
                                    "description": "Time range of historical visitor behavioral data to consider for generating recommendations."
                                  },
                                  "excludePurchases": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether items that were previously purchased by the visitor should be excluded in recommendations."
                                  },
                                  "minInventory": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "description": "Minimum number of pieces needed in stock for an item to be considered for recommendaton."
                                  },
                                  "partialDesignAllowed": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether design be shown when the number of recommendations are less than item slots in the design."
                                  },
                                  "modelActionSettings": {
                                    "type": "object",
                                    "properties": {
                                      "actionOnKeyItems": {
                                        "type": "string",
                                        "enum": [
                                          "PURCHASE",
                                          "VIEW"
                                        ],
                                        "description": "Which visitor behavior event to take into considerations for key items."
                                      },
                                      "actionOnRecommendedItems": {
                                        "type": "string",
                                        "enum": [
                                          "PURCHASE",
                                          "VIEW"
                                        ],
                                        "description": "Which visitor behavior event to take into considerations for recommended items.\n`VIEW` is invalid if actionOnKeyItems is `PURCHASE`.\n"
                                      },
                                      "basisForCoOccurrence": {
                                        "type": "string",
                                        "enum": [
                                          "SESSION",
                                          "USER"
                                        ],
                                        "description": "Coocurrence Basis. Values:\n\n- `SESSION`: each individual session will be consumed separately.\n- `USER`: all user sessions will be aggregated at user level.\n"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "daysCount"
                                ]
                              }
                            ]
                          },
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "criteriaGroup": {
                                    "type": "string",
                                    "readOnly": true
                                  },
                                  "criteriaTitle": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Displayed in the design using variable `$criteria.title`."
                                  },
                                  "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "readOnly": true
                                  },
                                  "name": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Unique name of the criteria."
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "aggregation": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "AGGREGATE",
                                      "ALL_OR_NOTHING"
                                    ],
                                    "default": "NONE",
                                    "description": "Whether recommendations should be shown solely based on the key (`NONE`) or visitor's behavioral history with\nrespect to the key (`AGGREGATE`, `ALL_OR_NOTHING`).\n  - `NONE` implies no aggregation, to only show recommendations for the given key.\n  - `AGGREGATE` begins with recommendations for the given key, favorite category in this instance, then continues\n    to next favorite of visitor's favorite categories until the design is filled.\n  - `ALL_OR_NOTHING` is similar to aggregation but the aggregation only happens if the given key, favorite\n    category in this instance, has enough recommendations to fill the design. If the key does not have enough\n    recommendations, next favorite category in visitor's favorite categories is considered sequentially until the\n    design is filled.\n\nIf the key is current category, only `NONE` is valid. For key as favorite category, all aggregation options are\navailable.\n"
                                  },
                                  "backupDisabled": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether backup recommendations are disabled when criteria does not generate enough recommendations."
                                  },
                                  "backupInclusionFilteringEnabled": {
                                    "type": "boolean",
                                    "default": true,
                                    "description": "Whether inclusion rules on the criteria should be applied to backup recommendations."
                                  },
                                  "configuration": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "inclusionRules": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "attribute": {
                                                  "type": "string",
                                                  "maxLength": 100
                                                },
                                                "highRange": {
                                                  "type": "string"
                                                },
                                                "lowRange": {
                                                  "type": "string"
                                                },
                                                "operation": {
                                                  "type": "string"
                                                },
                                                "source": {
                                                  "type": "object",
                                                  "properties": {
                                                    "defaultValue": {
                                                      "type": "string"
                                                    },
                                                    "excludeAllWhenEmpty": {
                                                      "type": "boolean"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "name",
                                                    "type"
                                                  ]
                                                },
                                                "values": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "maxLength": 250
                                                  },
                                                  "minItems": 1,
                                                  "maxItems": 1000
                                                }
                                              },
                                              "required": [
                                                "attribute",
                                                "operation"
                                              ]
                                            },
                                            "maxItems": 1000,
                                            "description": "Filtering rules to narrow the items to be displayed as recommendations. Inclusion rules are conjunctive and all rules\nmust be met to include an item in a recommendation. [More info](https://marketing.adobe.com/resources/help/en_US/target/recs/t_create_new_algorithm.html).\n"
                                          },
                                          "priceRange": {
                                            "type": "object",
                                            "properties": {
                                              "max": {
                                                "type": "number",
                                                "format": "double"
                                              },
                                              "min": {
                                                "type": "number",
                                                "format": "double"
                                              }
                                            },
                                            "description": "Price rule filter for items to be considered in recommendations."
                                          },
                                          "rankingRules": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "matcher": {
                                                  "type": "object",
                                                  "properties": {
                                                    "attribute": {
                                                      "type": "string",
                                                      "maxLength": 100
                                                    },
                                                    "operation": {
                                                      "type": "string"
                                                    },
                                                    "source": {
                                                      "type": "object",
                                                      "properties": {
                                                        "defaultValue": {
                                                          "type": "string"
                                                        },
                                                        "excludeAllWhenEmpty": {
                                                          "type": "boolean"
                                                        },
                                                        "name": {
                                                          "type": "string"
                                                        },
                                                        "type": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": [
                                                        "name",
                                                        "type"
                                                      ]
                                                    },
                                                    "values": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "string",
                                                        "maxLength": 250
                                                      },
                                                      "minItems": 1,
                                                      "maxItems": 1000
                                                    }
                                                  },
                                                  "required": [
                                                    "attribute",
                                                    "operation"
                                                  ]
                                                },
                                                "weighting": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "minimum": 0,
                                                  "maximum": 4
                                                }
                                              }
                                            },
                                            "maxItems": 1000,
                                            "description": "Rules for attribute weighting. Attribute weighting can be used to \"nudge\" the algorithm so certain items are more\nlikely to be shown. [More info](https://marketing.adobe.com/resources/help/en_US/target/recs/t_create_new_algorithm.html).\n"
                                          }
                                        },
                                        "description": "Object containing inclusion rules, attribute weighting, price filter, and some more configuration options specific to the criteria group."
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "pastBehaviorOrdinal": {
                                            "type": "integer",
                                            "format": "int32"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "criteriaGroup": {
                                    "type": "string",
                                    "enum": [
                                      "CATEGORY"
                                    ],
                                    "readOnly": true
                                  },
                                  "daysCount": {
                                    "type": "string",
                                    "enum": [
                                      "ONE_DAY",
                                      "TWO_DAYS",
                                      "ONE_WEEK",
                                      "TWO_WEEKS",
                                      "ONE_MONTH",
                                      "TWO_MONTHS"
                                    ],
                                    "description": "Time range of historical visitor behavioral data to consider for generating recommendations.\n\nThis field can not be used together with `hoursCount`\n"
                                  },
                                  "hoursCount": {
                                    "type": "integer",
                                    "description": "Time range of historical visitor behavioral data to consider for generating recommendations.\n\nThis field can not be used together with `daysCount`. Only allowed value `6`\n"
                                  },
                                  "enableCaching": {
                                    "type": "boolean",
                                    "default": false,
                                    "deprecated": true,
                                    "readOnly": true
                                  },
                                  "excludePurchases": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether items that were previously purchased by the visitor should be excluded from recommendations."
                                  },
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "CURRENT",
                                      "FAVORITE"
                                    ],
                                    "description": "Recommendation key. Values:\n\n- `CURRENT`: The category of the currently viewed item.\n- `FAVORITE`: The category among visitor's categories with highest score. The recommendations are determined by\n  the categories that have been most viewed. The score is determined by recency/frequency: 10 points for first\n  category view, 5 points for every subsequent view.\n"
                                  },
                                  "minInventory": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "description": "Minimum number of pieces needed in stock for an item to be considered for recommendaton."
                                  },
                                  "partialDesignAllowed": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether design be shown when the number of recommendations are less than item slots in the design."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "BOUGHT",
                                      "VIEWED"
                                    ],
                                    "description": "Recommendation logic. Values:\n\n  - `BOUGHT`: Top sold items.\n  - `VIEWED`: Most viewed items.\n"
                                  }
                                },
                                "required": [
                                  "key",
                                  "type"
                                ]
                              }
                            ]
                          },
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "criteriaGroup": {
                                    "type": "string",
                                    "readOnly": true
                                  },
                                  "criteriaTitle": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Displayed in the design using variable `$criteria.title`."
                                  },
                                  "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "readOnly": true
                                  },
                                  "name": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Unique name of the criteria."
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "backupDisabled": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether backup recommendations are disabled when enough recommendations from CSV feed are not applicable in design."
                                  },
                                  "backupInclusionFilteringEnabled": {
                                    "type": "boolean",
                                    "default": true,
                                    "description": "Whether inclusion rules on the criteria should be applied to backup recommendations."
                                  },
                                  "configuration": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "inclusionRules": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "attribute": {
                                                  "type": "string",
                                                  "maxLength": 100
                                                },
                                                "highRange": {
                                                  "type": "string"
                                                },
                                                "lowRange": {
                                                  "type": "string"
                                                },
                                                "operation": {
                                                  "type": "string"
                                                },
                                                "source": {
                                                  "type": "object",
                                                  "properties": {
                                                    "defaultValue": {
                                                      "type": "string"
                                                    },
                                                    "excludeAllWhenEmpty": {
                                                      "type": "boolean"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "name",
                                                    "type"
                                                  ]
                                                },
                                                "values": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "maxLength": 250
                                                  },
                                                  "minItems": 1,
                                                  "maxItems": 1000
                                                }
                                              },
                                              "required": [
                                                "attribute",
                                                "operation"
                                              ]
                                            },
                                            "maxItems": 1000,
                                            "description": "Filtering rules to narrow the items to be displayed as recommendations. Inclusion rules are conjunctive and all rules\nmust be met to include an item in a recommendation. [More info](https://marketing.adobe.com/resources/help/en_US/target/recs/t_create_new_algorithm.html).\n"
                                          },
                                          "priceRange": {
                                            "type": "object",
                                            "properties": {
                                              "max": {
                                                "type": "number",
                                                "format": "double"
                                              },
                                              "min": {
                                                "type": "number",
                                                "format": "double"
                                              }
                                            },
                                            "description": "Price rule filter for items to be considered in recommendations."
                                          },
                                          "rankingRules": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "matcher": {
                                                  "type": "object",
                                                  "properties": {
                                                    "attribute": {
                                                      "type": "string",
                                                      "maxLength": 100
                                                    },
                                                    "operation": {
                                                      "type": "string"
                                                    },
                                                    "source": {
                                                      "type": "object",
                                                      "properties": {
                                                        "defaultValue": {
                                                          "type": "string"
                                                        },
                                                        "excludeAllWhenEmpty": {
                                                          "type": "boolean"
                                                        },
                                                        "name": {
                                                          "type": "string"
                                                        },
                                                        "type": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": [
                                                        "name",
                                                        "type"
                                                      ]
                                                    },
                                                    "values": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "string",
                                                        "maxLength": 250
                                                      },
                                                      "minItems": 1,
                                                      "maxItems": 1000
                                                    }
                                                  },
                                                  "required": [
                                                    "attribute",
                                                    "operation"
                                                  ]
                                                },
                                                "weighting": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "minimum": 0,
                                                  "maximum": 4
                                                }
                                              }
                                            },
                                            "maxItems": 1000,
                                            "description": "Rules for attribute weighting. Attribute weighting can be used to \"nudge\" the algorithm so certain items are more\nlikely to be shown. [More info](https://marketing.adobe.com/resources/help/en_US/target/recs/t_create_new_algorithm.html).\n"
                                          }
                                        },
                                        "description": "Object containing inclusion rules, attribute weighting, price filter, and some more configuration options specific to the criteria group."
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "attribute": {
                                            "type": "string",
                                            "pattern": "^(profile\\.|user\\.).+",
                                            "description": "Applicable only when key is `PROFILE_ATTRIBUTE`. This is the profile attribute."
                                          },
                                          "feed": {
                                            "type": "object",
                                            "properties": {
                                              "connection": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "url",
                                                      "ftp"
                                                    ],
                                                    "description": "Protocol supported by the feed: HTTP or FTP"
                                                  },
                                                  "attributes": {
                                                    "oneOf": [
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "URL": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "URL"
                                                        ],
                                                        "description": "HTTP location of the feed."
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "SERVER": {
                                                            "type": "string"
                                                          },
                                                          "USERNAME": {
                                                            "type": "string"
                                                          },
                                                          "PASSWORD": {
                                                            "type": "string"
                                                          },
                                                          "FILENAME": {
                                                            "type": "string"
                                                          },
                                                          "DIRECTORY": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "SERVER",
                                                          "USERNAME",
                                                          "PASSWORD",
                                                          "FILENAME",
                                                          "DIRECTORY"
                                                        ],
                                                        "description": "FTP connection details of the feed."
                                                      }
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "attributes"
                                                ],
                                                "description": "Object containing feed connection details."
                                              },
                                              "environmentId": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Identifier of a valid environment. Use `-1` for all environments."
                                              },
                                              "scheduleTime": {
                                                "type": "string",
                                                "pattern": "^([0-1][0-9]|2[0-3]):([0-5][0-9])$",
                                                "description": "Scheduled time to run the feed. Format is `HH:mm`."
                                              },
                                              "scheduleType": {
                                                "type": "string",
                                                "enum": [
                                                  "daily",
                                                  "weekly",
                                                  "biWeekly",
                                                  "never"
                                                ],
                                                "description": "Feeds can be scheduled to be run at a given frequency."
                                              },
                                              "uploadHistory": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "status": {
                                                      "type": "string",
                                                      "enum": [
                                                        "SUCCESS",
                                                        "UNKNOWN_ERROR",
                                                        "PARSING_ERROR",
                                                        "SERVER_NOT_FOUND",
                                                        "CREDENTIALS_ERROR",
                                                        "DIRECTORY_NOT_FOUND",
                                                        "FILE_NOT_FOUND",
                                                        "SAINT_REPORT_NOT_FOUND",
                                                        "CLASSIFICATION_NOT_FOUND",
                                                        "SCHEDULED",
                                                        "DOWNLOADING_FEED_FILE",
                                                        "IMPORTING",
                                                        "FLUSHING_RESULTS",
                                                        "FLUSH_FAILED"
                                                      ]
                                                    },
                                                    "message": {
                                                      "type": "string"
                                                    },
                                                    "date": {
                                                      "type": "string",
                                                      "format": "date-time"
                                                    }
                                                  }
                                                },
                                                "required": [
                                                  "status",
                                                  "message",
                                                  "date"
                                                ],
                                                "readOnly": true,
                                                "description": "Feed upload history."
                                              }
                                            },
                                            "required": [
                                              "connection",
                                              "environmentId",
                                              "scheduleType"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "feed"
                                        ]
                                      }
                                    ]
                                  },
                                  "criteriaGroup": {
                                    "type": "string",
                                    "enum": [
                                      "CUSTOM"
                                    ],
                                    "readOnly": true
                                  },
                                  "enableCaching": {
                                    "type": "boolean",
                                    "default": false,
                                    "deprecated": true,
                                    "readOnly": true
                                  },
                                  "excludePurchases": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether items that were previously purchased by the visitor should be excluded from recommendations."
                                  },
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "CURRENT",
                                      "LAST_VIEWED",
                                      "LAST_PURCHASED",
                                      "MOST_VIEWED",
                                      "CURRENT_CATEGORY",
                                      "FAVORITE_CATEGORY",
                                      "PROFILE_ATTRIBUTE"
                                    ],
                                    "description": "Recommendation key. Values:\n\n- `CURRENT`: The currently viewed item.\n- `LAST_VIEWED`: The last viewed item.\n- `LAST_PURCHASED`: The last purchased item.\n- `MOST_VIEWED`: The most viewed item. The recommendations are determined by items that have been most viewed.\n  The score is determined by recency/frequency: 10 points for first item view, 5 points for every subsequent view,\n  all points are halved after the session ends.\n- `CURRENT_CATEGORY`: The category of the currently viewed item.\n- `FAVORITE_CATEGORY`: The category among visitor's categories with highest score. The recommendations are\n  determined by the categories that have been most viewed. The score is determined by recency/frequency: 10 points\n  for first category view, 5 points for every subsequent view.\n- `PROFILE_ATTRIBUTE`: Profile attribute.\n"
                                  },
                                  "minInventory": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "description": "Minimum number of pieces needed in stock for an item to be considered for recommendaton."
                                  },
                                  "partialDesignAllowed": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether design be shown when the number of recommendations are less than item slots in the design."
                                  }
                                },
                                "required": [
                                  "key",
                                  "configuration"
                                ]
                              }
                            ]
                          },
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "criteriaGroup": {
                                    "type": "string",
                                    "readOnly": true
                                  },
                                  "criteriaTitle": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Displayed in the design using variable `$criteria.title`."
                                  },
                                  "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "readOnly": true
                                  },
                                  "name": {
                                    "type": "string",
                                    "maxLength": 250,
                                    "description": "Unique name of the criteria."
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "aggregation": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "AGGREGATE",
                                      "ALL_OR_NOTHING"
                                    ],
                                    "default": "NONE",
[...]
